body {
    margin: 0;
} /* normalization */

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.main-heading {
    font-size: 6.5vw;
    font-family: Verdana, Tahoma, sans-serif;
}

.button-style {
    background-color: rgb(104, 157, 255);
    color: aliceblue;
    font-size: 3.5vw;
    padding: 1% 3%;
    border-style: none;
}